$primary: #e51318;
$secondary: #404ab0;
$tertiary: #a7cfba;
$black: #060000;
$gray: #a1a2a2;
$shadow-color: #eeeeee;
$width: 100px;
$height: 100px;
$marg: 15px;
$font_size: 1rem;
$border: 1px;
$radius: 1px;
